html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    title= title
  body
    .container
      .row
        .col-md-6
          h1 Workforce Automation Demo
      .row
        .col-md-6
          h2 Instructions
          p
            | This demo will sequentially text the numbers below, in the order you see them.
            | Each will receive a message offering an opportunity to work. If the staff member
            | sends back a YES, we will tell them that we will contact them soon with details. If
            | they do not respond in two minutes, we will thank them and contact the next staff
            | member on the list.  

          p 
            | To start this demo, press the start button below. When you press the start button, 
            | the first staff member will be in the "Contacting" state. Refresh your screen to 
            | refresh the status.
        .col-md-6
          h2 Workforce Status
          table.table
            thead
              th Staff Cell
              th Status
            tbody
              each employee in staff
                tr
                  td= employee.cell
                  td= employee.status
                  td
                    a(href="/delete/"+employee.cell)
                      | x
          a.btn.btn-primary.pull-right(href="/start")
            | Start
      hr
      .row
        .col
          h2 Configuration
          p
            | Add the cell phone of the staff members
      .row
        .col-md-5
            form(action="/new_staff" method="POST")
              .form-group
                label(for='cell') Cell phone number
                input#cell.form-control(type='text', name='cell', aria-describedby='cellHelp', placeholder='Enter staff cell')
                small#cellHelp.form-text.text-muted We'll never share your cell phone with anyone else.
        .col-md-1
          button.btn.btn-primary(type='submit') Add
      .row
        .col-md-6
          a(href="/config")
            | Change the automation parameters

    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
